.jumbotron {
	background: #F38630;
	color: #fff;
	margin-bottom: 40px;
	}
	
@media screen and (max-width: 599px) { 
	.jumbotron {
		padding: 30px 0;
		}
	}
	
.jumbotron .panel {
	background: #fff;
	background: rgba(255, 255, 255, .3);
	border: 0;
	border-bottom: 2px solid rgba(0, 0, 0, .1);
	border-right: 2px solid rgba(0, 0, 0, .1);
	border-radius: 0;
	color: #333;
	margin-top: 2em;
	}
	
.jumbotron .panel .panel-heading {
	background: transparent;
	border: 0;
	border-radius: 0;
	padding: 20px 20px 0 20px;
	}
	
.jumbotron .panel .panel-title {
	font-size: 20px;
	}
	
.jumbotron .panel .panel-body {
	padding: 20px;
	}
	
.jumbotron .panel .btn {
	display: block;
	font-size: 16px;
	padding: 18px 12px;
	}
	
.feature-icon {
	display: none;
	}
	
@media screen and (min-width: 770px) { 
	.feature {
		text-align: center;
		}
	.feature-icon {
		background: #BF4D28;
		border-radius: 100px;
		color: #fff;
		display: inline-block;
		font-size: 60px;
		height: 2em;
		padding: 0.25em 0 0 0;
		text-align: center;
		width: 2em;
		-webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
		}
	.transition.visible .feature-icon {
	    -webkit-animation: zoomOut 1s 0s ease-in;
	    -webkit-animation-fill-mode: forwards;
	    animation: zoomOut 1s 0s ease-in;
	    animation-fill-mode: forwards;
		}
	}
	
.why-use {
	background: #403b37;
	color: #fff;
	margin-bottom: 30px;
	margin-top: 30px
	}
	
.why-use .row {
	position: relative;
	}
	
.why-use .copy {
	margin: 40px 0 50px 0;
	}
	
.why-use .image {
	bottom: 0;
	margin: 0 auto;
	overflow: hidden;
	}
	
@media screen and (max-width: 769px) { 
	.why-use .image {
		height: 278px;
		width: 487px;
		}
	}
	
@media screen and (max-width: 550px) { 
	.why-use .image {
		height: 228px;
		width: 400px;
		}
	}
	
@media screen and (max-width: 450px) { 
	.why-use .image {
		height: 171px;
		width: 300px;
		}
	}
	
@media screen and (max-width: 350px) { 
	.why-use .image {
		height: 148px;
		width: 260px;
		}
	}
	
@media screen and (min-width: 770px) { 
	.why-use .image {
		bottom: 0;
		display: block;
		height: 100%;
		overflow: hidden;
		position: absolute;
		right: 0;
		}
	}
	
.why-use img {
	bottom: 0;
	height: auto;
	padding-top: 20px;
	position: absolute;
	right: 0;
	width: 100%;
	}
		
.why-use .laptop, 
.why-use .tablet, 
.why-use .phone {
	-webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
	}
	
.why-use .transition.visible .laptop {
	-webkit-animation: laptopMove 0.5s 0s ease-in;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0.5s;
    animation: laptopMove 0.5s 0s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
	}
	
.why-use .transition.visible .tablet {
	-webkit-animation: laptopMove 1s 0s ease-in;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0.5s;
    animation: laptopMove 1s 0s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
	}
	
.why-use .transition.visible .phone {
	-webkit-animation: laptopMove 1.5s 0s ease-in;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0.5s;
    animation: laptopMove 1.5s 0s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
	}
	
.point {
	margin-bottom: 20px;
	margin-top: 20px;
	}
	
.point-icon {
	color: #BF4D28;
	float: left;
	font-size: 40px;
	margin-right: 0.5em;
	}